@model AirManage.Models.Class2

@{
    ViewBag.Title = "Edit";
}

<!DOCTYPE html>

<html>
<head>
    <title></title>
    <style>
        body {
            background-color: lightgray;
        }
    </style>
</head>
<body>

    <h2>Edit</h2>

    @using (Html.BeginForm())
    {
        @Html.AntiForgeryToken()

        <div class="form-horizontal">

            <hr />
            @Html.ValidationSummary(true)
            <div class="form-group">
                @Html.LabelFor(model => model.Booking_id, new { @class = "control-label col-md-2" })
                <div class="col-md-10">
                    @Html.EditorFor(model => model.Booking_id)
                    @Html.ValidationMessageFor(model => model.Booking_id)
                </div>
            </div>

            <div class="form-group">
                @Html.LabelFor(model => model.Booking_Pass_id, new { @class = "control-label col-md-2" })
                <div class="col-md-10">
                    @Html.EditorFor(model => model.Booking_Pass_id)
                    @Html.ValidationMessageFor(model => model.Booking_Pass_id)
                </div>
            </div>

            <div class="form-group">
                @Html.LabelFor(model => model.Booking_date, new { @class = "control-label col-md-2" })
                <div class="col-md-10">
                    @Html.EditorFor(model => model.Booking_date)
                    @Html.ValidationMessageFor(model => model.Booking_date)
                </div>
            </div>

            <div class="form-group">
                @Html.LabelFor(model => model.Booking_Type, new { @class = "control-label col-md-2" })
                <div class="col-md-10">
                    @Html.EditorFor(model => model.Booking_Type)
                    @Html.ValidationMessageFor(model => model.Booking_Type)
                </div>
            </div>

            <div class="form-group">
                <div class="col-md-offset-2 col-md-10">
                    <input type="submit" value="Save" class="btn btn-default" />
                </div>
            </div>
        </div>
    }

    <div>
        @Html.ActionLink("Back to List", "show")
    </div>
    </body>
</html>
